@page
@model Cupcakes.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1 class="display-4">Cupcakes Store</h1>

@foreach (var cupcake in Model.Cupcakes)
{
    <div>
        <img src="~/uploads/@cupcake.ImageFilename" alt="Cupcake Image" style="width: 300px; height: 300px;" />
        <h2>@cupcake.Name</h2>
        <p>@cupcake.Description</p>
        <p>Price: @cupcake.Price</p>
        <a asp-page="/DeleteCupcake" asp-route-id="@cupcake.CupcakeId">Delete</a>

    </div>
}